.ui-widget {
    font-size: 12px !important;
}
.ui-layout-north {
    z-index: 20 !important;
    overflow: visible !important;;

    
}
.ui-layout-north .ui-layout-unit-content {
    overflow: visible !important;
 
  
    
}
.ui-widget-header {
    text-align: center;
    text-transform: uppercase;
    background-color: #000000;
    color: #ffffff;
    background:transparent;
	min-height:100%; 	
	-webkit-font-smoothing: antialiased;
	-webkit-overflow-scrolling: touch;
	line-height: 1.5em;
	font-size:14px;
	font-family: Helvetica, Arial, sans-serif;
	color:#fff;
	color:rgba(255,255,255,.8); 
	font-weight: normal;
 
        
}
.ui-button {
    margin-top: 10px !important;
}

